
$footer-nav-z-index: 999;
$footer-nav-max-width: 700px;
$footer-item-size: 70px;
$footer-item-gap: 3px;
$footer-item-hover-scale: 1.3;
$footer-item-active-translate-y: -20px;
$footer-item-text-font-size: 12px;
$footer-item-text-opacity: 0;
$footer-item-text-active-opacity: 1;
$footer-item-text-transform: 25px;
$footer-effect-height: calc(#{$footer-item-size} + 25px);
$footer-effect-circle-size: calc(#{$footer-item-size} - 4px);